   
    <div class="menu">
      <% if (loggedInUser && loggedInUser.username) { %>
      <div class="menu-item"><a href="/inbox">Inbox</a></div>
      <div class="menu-item"><a href="/users">Users</a></div>
      <div class="menu-item"><a href="#" onclick="logout()">Logout</a></div>
      <% } else { %>
      <div class="menu-item"><a href="/inbox">Inbox</a></div>
      <div class="menu-item"><a href="/users">Users</a></div>
      <div class="menu-item"><a href="/">Login</a></div>
      <% } %>
    </div>
    <script>
      // toast
      const logoutToast = Toastify({
        text: "You are being logged out...",
        duration: 1000,
      });

      function logout() {

        let conf =  confirm("Are you sure you want to logout?");
        if (!conf) {
          return;
        }

        fetch("/", {
          method: "DELETE",
        });
        logoutToast.showToast();
        setTimeout(() => {
          window.location.replace("/");
        }, 1000);
      }
    </script>